:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    img {
        margin-bottom: 50px;
        max-width: 80%;
    }

    a.login {
        padding: 4px 40px;
        color: white;
        border: 2px solid #002a4c;
        border-radius: 20px;
        font-size: 22px;
        font-weight: bold;
    }

    h2 {
        font-size: 22px;
        font-weight: bold;
        text-align: center;

        a {
            font-size: 18px;
            text-decoration: underline;
        }
    }

    .theme-primary-fg {
        color: #059;
    }

    .theme-primary-bg {
        background-color: #059;
    }
}