<div class='name'>{{item.name}}</div>
<div class='status'><span [class]='item.status.status'>{{item.status.status}}</span></div>
<div class='kind'>{{((api.configuration | async).kinds_map[item.kind] || {display:item.kind}).display }}</div>
<div class='schedule'>{{((api.configuration | async).schedules_map[item.schedule] || {display:item.schedules}).display }}</div>
<div class='view'><a *ngIf='item.result && item.result.view_url' [href]='item.result.view_url' target='_blank'><i class="far fa-eye"></i></a></div>
<div class='delete'><a *ngIf='canDelete()' (click)='delete($event)'>Delete</a></div>
<div class='view-status'><a *ngIf='roles._.pipelinesStatusPublic' [routerLink]='"/status/" + item.id'>View Status</a></div>
<div class='edit'><a *ngIf='canEdit()' [routerLink]='"/edit/" + item.id'>Edit</a></div>