<app-container>
  <h1 class='theme-primary-fg'>Source Data</h1>
  <div *ngIf='roles._.filesUpload' class='add-new'><a (click)='upload()'>
    <i class="fas fa-plus-circle" aria-hidden="true"></i>
    Upload Data File</a>
  </div>
  <app-file-uploader *ngIf='uploaderVisible' (close)='uploaderVisible=false' [filename]='forceFilename'></app-file-uploader>
  <ng-container *ngFor='let item of (api.files | async)'>
    <app-file-list-item [item]='item' (update)='update(item.filename)'></app-file-list-item>
  </ng-container>
</app-container>