<input type="file" #file (change)="onFilesAdded()" />
<div class='button' (click)='addFiles()' 
     [class.selected]='_selected'
     [class.active]='_active'
     [class.success]='_success'
     >
    <div *ngIf='!_active && !_selected' class='message'>Select File...</div>
    <div *ngIf='_active' class='message'>{{ selectedFile.name }}</div>
    <div *ngIf='!_active && _selected && _success' class='message'>File upload successful</div>
    <div *ngIf='!_active && _selected && !_success' class='message'>Failed to upload file</div>
    <div *ngIf='_active' class='progress'>
        <div class='bar' [style.left]='(_progress-100) + "%"'>
        </div>
    </div>
</div>
