aiopg
dgp_oauth2>=0.2.0
sqlalchemy
flask-cors
flask-jsonpify
flask-session
PyYAML
python-slugify
psycopg2-binary
requests
dgp-server>=0.0.88
dgp>=0.0.88
geocoder
pyproj
dataflows>=0.2.1
tabulator[html]>=1.48
tableschema>=1.18
cattrs<1.1.0
