aiopg
dhq-auth>=0.1.6
sqlalchemy
flask-cors
flask-jsonpify
flask-session
PyYAML
awesome-slugify
psycopg2-binary
apache-airflow[postgres]
requests
dgp-server>=0.0.80
dgp>=0.0.40
geocoder
pyproj
dataflows>=0.1.1
tabulator[html]>=1.48
tableschema>=1.18
