aiopg
dhq-auth>=0.1.6
sqlalchemy
flask-cors
flask-jsonpify
flask-session
PyYAML
python-slugify
psycopg2-binary
apache-airflow[postgres]
requests
dgp-server>=0.0.82
dgp>=0.0.65
geocoder
pyproj
dataflows>=0.1.2
tabulator[html]>=1.48
tableschema>=1.18
