<h1>Edit Pipeline</h1>
<label>Pipeline Name</label>
<input type='text' [(ngModel)]='item.name'/>
<label>Description</label>
<textarea rows='3' [(ngModel)]='item.description'></textarea>
<label>Kind</label>
<select [(ngModel)]='item.kind' *ngIf='api.currentConfig'>
  <option [value]='kind.name' *ngFor='let kind of (api.configuration | async).kinds'>{{kind.display}}</option>
</select>
<label>Schedule</label>
<select [(ngModel)]='item.schedule'>
  <option value='manually'>Manually</option>
  <option value='daily'>Daily</option>
  <option value='weekly'>Weekly</option>
  <option value='hourly'>Hourly</option>
  <option value='monthly'>Monthly</option>
</select>
<ng-container *ngIf='item.kind'>
  <ng-container *ngFor='let field of ((api.configuration | async).kinds_map[item.kind] || {fields:[]}).fields'>
    <label>{{field.display}}</label>
    <input type='text' [(ngModel)]='item.params[field.name]'/>
  </ng-container>
</ng-container>
<div class='buttons'>
<div class='save button' (click)='save()'>
<i class="fas fa-save" aria-hidden="true"></i>
Save Pipeline</div>
<div class='delete button' (click)='delete()' *ngIf='item.id'>
<i class="fas fa-trash" aria-hidden="true"></i>
Delete Pipeline</div>
</div>