<app-container>
  <h1 class='theme-primary-fg'>Edit Task</h1>
  <label>Task Name</label>
  <input type='text' [(ngModel)]='item.name'/>
  <label>Description</label>
  <div class='field-description' [innerHtml]='api.currentConfig.taskDescription' *ngIf='api.currentConfig.taskDescription'></div>
  <textarea rows='3' [(ngModel)]='item.description'></textarea>
  <ng-container *ngIf='api.currentConfig'>
    <ng-container *ngIf='api.currentConfig.kinds && api.currentConfig.kinds.length > 1'>
      <label>Kind</label>
      <select [(ngModel)]='item.kind'>
        <option [value]='kind.name' *ngFor='let kind of api.currentConfig.kinds'>{{kind.display}}</option>
      </select>
    </ng-container>
    <ng-container *ngIf='api.currentConfig.kinds_map[item.kind]'>
      <app-dynamic-fields-editor [item]='item.params' [fields]='(api.currentConfig.kinds_map[item.kind] || {fields:[]}).fields'></app-dynamic-fields-editor>
      <ng-container *ngIf='roles._.pipelinesExecute'>
        <label>Schedule</label>
        <select [(ngModel)]='item.schedule'>
          <ng-container *ngFor='let schedule of api.currentConfig.schedules'>
            <option *ngIf='schedule.name === "manual" || roles._.pipelinesExecute' [value]='schedule.name'>{{schedule.display}}</option>
          </ng-container>
        </select>
      </ng-container>
      <label>Visibility</label>
      <select type='checkbox' [(ngModel)]='item.private'>
        <option [value]='true'>Only Visible to Me</option>
        <option [value]='false'>Publicly Visible</option>
      </select>
      <div class='buttons'>
        <div class='dgp button' (click)='dgp()' *ngIf='roles._.workbench && api.currentConfig.kinds_map[item.kind].dgp'>
          <i class="fas fa-cogs" aria-hidden="true"></i>
          Save &amp; go to Workbench
        </div>
        <div class='save button' (click)='save()'>
          <i class="fas fa-save" aria-hidden="true"></i>
          Save Task
        </div>
        <div *ngIf='roles._.pipelinesDeleteOwn && item.id' class='delete button' (click)='delete()'>
          <i class="fas fa-trash" aria-hidden="true"></i>
          Delete Task
        </div>
      </div>
    </ng-container>
  </ng-container>
</app-container>