<div class='tab-container'>
    <span class='tab'
            [ngClass]='{active: selected === "extract", valid: validation["extract"].valid, inprogress: validation["extract"].progress, errored: validation["extract"].errors}'
            (click)='select("extract")'
            >
        <span i18n>Extract</span>&nbsp;
        <i class='fa fa-check-circle'></i>
        <i class='fa fa-circle-notch fa-spin'></i>
        <i class='fa fa-question-circle'></i>
        <i class='fa fa-exclamation-triangle' [title]='validation["extract"].errors'></i>
        &nbsp;<i class='fa fa-chevron-left only-rtl'></i><i class='fa fa-chevron-right only-ltr'></i>
    </span>
    <span class='tab'
            [ngClass]='{active: selected === "map", valid: validation["map"].valid, inprogress: validation["map"].progress, errored: validation["map"].errors}'
            (click)='select("map")'
            >
        <span i18n>Map</span>&nbsp;
        <i class='fa fa-check-circle'></i>
        <i class='fa fa-circle-notch fa-spin'></i>
        <i class='fa fa-question-circle'></i>
        <i class='fa fa-exclamation-triangle' [title]='validation["map"].errors'></i>
        &nbsp;<i class='fa fa-chevron-left only-rtl'></i><i class='fa fa-chevron-right only-ltr'></i>
    </span>
    <span class='tab'
            [ngClass]='{active: selected === "enrich", valid: validation["enrich"].valid, inprogress: validation["enrich"].progress, errored: validation["enrich"].errors}'
            (click)='select("enrich")'
            >
        <span i18n>Transform</span>&nbsp;
        <i class='fa fa-check-circle'></i>
        <i class='fa fa-circle-notch fa-spin'></i>
        <i class='fa fa-question-circle'></i>
        <i class='fa fa-exclamation-triangle' [title]='validation["enrich"].errors'></i>
        &nbsp;<i class='fa fa-chevron-left only-rtl'></i><i class='fa fa-chevron-right only-ltr'></i>
    </span>
    <span class='tab'
            [ngClass]='{active: selected === "publish", valid: validation["publish"].valid, inprogress: validation["publish"].progress, errored: validation["publish"].errors}'
            (click)='select("publish")'
            >
        <span i18n>Finalize</span>&nbsp;
        <i class='fa fa-check-circle'></i>
        <i class='fa fa-circle-notch fa-spin'></i>
        <i class='fa fa-question-circle'></i>
        <i class='fa fa-exclamation-triangle' [title]='validation["publish"].errors'></i>
        &nbsp;<i class='fa fa-chevron-left only-rtl'></i><i class='fa fa-chevron-right only-ltr'></i>
    </span>
    <span>
        <a routerLink='/' i18n>&lt;&lt;&lt; Back</a>
    </span>
</div>