<h1>Pipeline Status</h1>
<h2>{{item.name}}</h2>
<h3>Current Status :</h3>
<div class='status-box'>
  <div [class]='"status " + item.status.status'>{{item.status.status}}</div>
  <div class='started' *ngIf='item.status.start_date'>
    <label>Started:</label>
    <span [title]='item.status.start_date'>{{ _moment(item.status.start_date).fromNow() }}</span>
  </div>
  <div class='finished' *ngIf='item.status.end_date'>
    <label>Finished:</label>
    <span [title]='item.status.end_date'>{{ _moment(item.status.end_date).fromNow() }}</span>
  </div>
  <div class='duration' *ngIf='item.status.end_date'>
    <label>Took:</label>
    <span>{{ _moment(item.status.end_date).from(item.status.start_date, true) }}</span>
  </div>
</div>
<h3>Last Execution Status :</h3>
<pre>{{item.status.logs}}</pre>
<div class='buttons'>
<a class='refresh button' (click)='refresh()'>
  <i class="fas fa-redo-alt" aria-hidden="true"></i>
  Refresh
</a>
<a class='trigger button' (click)='trigger()'>
  <i class="fas fa-play" aria-hidden="true"></i>
  Trigger Pipeline
</a>
<a class='edit button' [routerLink]='"/edit/" + item.id'>
  <i class="fas fa-pencil-alt" aria-hidden="true"></i>
  Edit Pipeline
</a>
</div>