<div class='selection'>
  <i class="fas fa-caret-right" *ngIf='!hasErrors' [class.open]='more' (click)='more = !more'></i>
  <i class="fa fa-exclamation-triangle" *ngIf='hasErrors'></i>
  <label class='main'>{{mapping.name}}</label>
  <i class='fa fa-arrow-right'></i>
  <select *ngIf='!mapping.compound'
          class='ct-selector'
          [value]='mapping.columnType'
          (change)='updateMapping($event.target.value); changed()'>
    <option [value]='null'>-</option>
    <option *ngFor='let ct of taxonomy.columnTypes'
            [value]='ct.name'>{{ct.title}}
    </option>
  </select>
  <select *ngIf='mapping.compound'
          class='ct-selector'
          [value]='mapping.normalizeTarget'
          (change)='mapping.normalizeTarget = $event.target.value; changed()'>
    <option [value]='null'>-</option>
    <option *ngFor='let ct of taxonomy.columnTypes'
            [value]='ct.name'>{{ct.title}}
    </option>
  </select>
</div>
<div class='description' *ngIf='mapping.description && !mapping.compound'>
  {{ mapping.description }}
</div>
<div class='compound-mapping' *ngIf='mapping.compound'>
  <span class='for' i18n>for</span>
  <app-extendable-keyvalue-list
    [taxonomy]='taxonomy'
    [data]='mapping.normalize || {}'
    (update)='mapping.normalize = $event; changed()'
  ></app-extendable-keyvalue-list>
</div>
<div class='more' *ngIf='more || hasErrors'>
  <div class='options'>
    <div>
      <div class='formish'>
        <label i18n>Title:</label>
        <input [(ngModel)]='mapping.title' type='text'>
      </div>
      <ng-container *ngIf='ct.dataType === "date"'>
        <ng-container *ngIf='api.currentConfig.dateFormats && api.currentConfig.dateFormats.length > 0'>
          <div class='formish'>
            <label i18n>Date Format:</label>
            <select [(ngModel)]='mapping.options.format'>
              <option [value]='df.format' *ngFor='let df of api.currentConfig.dateFormats'>{{df.display}}</option>
            </select>
          </div>
        </ng-container>
        <div class='formish'>
          <label i18n>Custom Format:</label>
          <input [(ngModel)]='mapping.options.format' type='text'>
        </div>
        <div class='workbench-explanation' i18n>More information on custom formats can be found <a href='https://strftime.org/' target='_blank'>here</a>.</div>
      </ng-container>
      <ng-container *ngIf='ct.dataType === "boolean"'>
        <div class='formish'>
          <label i18n>True Values:</label>
          <input [(ngModel)]='trueValues' type='text'>
        </div>
        <div class='formish'>
          <label i18n>False Values:</label>
          <input [(ngModel)]='falseValues' type='text'>
        </div>
      </ng-container>
      <ng-container *ngIf='ct.dataType === "number"'>
        <div class='formish'>
          <label i18n>Decimal Separator:</label>
          <input [(ngModel)]='mapping.options.decimalChar' type='text'>
        </div>
        <div class='formish'>
          <label i18n>Thousands Separator:</label>
          <input [(ngModel)]='mapping.options.groupChar' type='text'>
        </div>
      </ng-container>
    </div>
    <div class='sample'>
      <table *ngIf='sample && sample.length'>
        <tr><th colspan='2' i18n>Sample of bad values</th></tr>
        <tr><th i18n>Row #</th><th>Value</th></tr>
        <tr *ngFor='let item of sample'>
          <td>{{ item.idx }}</td>
          <td>{{ item.value }}</td>
        </tr>
      </table>
    </div>
  </div>
  <a class='toggle-compound' (click)='mapping.compound=true' i18n *ngIf='!mapping.compound'>Change to compound mapping</a>
  <a class='toggle-compound' (click)='mapping.compound=false' i18n *ngIf='mapping.compound'>Change to simple mapping</a>
</div>