<a routerLink='/dashboard'><img class='logo' src='assets/logo.png'/></a>
<a class='menu' [class.active]='detected === "dashboard"' routerLink='/dashboard'>Dashboard</a>
<a class='menu' *ngIf='roles._.pipelinesListPublic' [class.active]='detected === "pipelines"' routerLink='/pipelines'>Pipelines</a>
<a class='menu' *ngIf='roles._.usersList' [class.active]='detected === "users"' routerLink='/users'>Users</a>
<a class='menu' [class.active]='detected === "files"' routerLink='/files'>Source Files</a>