:host {
    width: 100%;
    display: flex;
    flex-flow: row;
    border-bottom: 1px solid fade(#059, 20);
    margin-bottom: 20px;
    align-items: center;

    img.logo {
        margin: 20px;
        height: 50px;
    }

    a.menu {
        display: block;
        margin: 0px 20px;
        padding: 3px 10px;

        border: 3px solid transparent;

        &.active {
            border-left: 3px solid #059;
            border-right: 3px solid #059;
            border-radius: 40px;
        }
    }
}