<h4 class='workbench-subsubsubtitle'>{{ct.title}}</h4>
<div class='description' *ngIf='ct.description'>{{ct.description}}</div>
<div class='formish'>
  <label i18n>Take value from...</label>
  <select [(ngModel)]='mappingType'>
    <option *ngIf='!ct.mandatory' selected value='' i18n>No value for this field</option>
    <option value='constant' i18n>Constant...</option>
    <option [selected]='ct.mandatory' disabled value=''>---</option>
    <optgroup label='Source Columns'>
      <option *ngFor='let field of config.model.mapping'>{{ field.name }}</option>
    </optgroup>
  </select>
  <div class='constant' *ngIf='mappingType === "constant"'>
    <label i18n>Constant Value:</label>
    <input type='text' [(ngModel)]='constantValue'/>
  </div>
</div>
<div *ngIf='expanded'>
  <div class='options'>
    <div>
      <div class='formish'>
        <label i18n>Title:</label>
        <input [(ngModel)]='mapping.title' type='text'>
      </div>
      <ng-container *ngIf='ct.dataType === "date"'>
        <ng-container *ngIf='api.currentConfig.dateFormats && api.currentConfig.dateFormats.length > 0'>
          <div class='formish'>
            <label i18n>Date Format:</label>
            <select [(ngModel)]='mapping.options.format'>
              <option [value]='df.format' *ngFor='let df of api.currentConfig.dateFormats'>{{df.display}}</option>
            </select>
          </div>
        </ng-container>
        <div class='formish'>
          <label i18n>Custom Format:</label>
          <input [(ngModel)]='mapping.options.format' type='text'>
        </div>
        <div class='workbench-explanation' i18n>More information on custom formats can be found <a href='https://strftime.org/' target='_blank'>here</a>.</div>
      </ng-container>
      <ng-container *ngIf='ct.dataType === "boolean"'>
        <div class='formish'>
          <label i18n>True Values:</label>
          <input [(ngModel)]='trueValues' type='text'>
        </div>
        <div class='formish'>
          <label i18n>False Values:</label>
          <input [(ngModel)]='falseValues' type='text'>
        </div>
      </ng-container>
      <ng-container *ngIf='ct.dataType === "number"'>
        <div class='formish'>
          <label i18n>Decimal Separator:</label>
          <input [(ngModel)]='mapping.options.decimalChar' type='text'>
        </div>
        <div class='formish'>
          <label i18n>Thousands Separator:</label>
          <input [(ngModel)]='mapping.options.groupChar' type='text'>
        </div>
      </ng-container>
    </div>
    <div class='sample'>
      <table *ngIf='sample && sample.length'>
        <tr><th colspan='2' i18n>Sample of bad values</th></tr>
        <tr><th i18n>Row #</th><th>Value</th></tr>
        <tr *ngFor='let item of sample'>
          <td>{{ item.idx }}</td>
          <td>{{ item.value }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<a class='expander' *ngIf='expanded' (click)='expanded=false'>less...</a>
<a class='expander' *ngIf='!expanded' (click)='expanded=true'>more...</a>
